.navbar {
  background-color:#000;
  min-width: 100%;
  display: flex;
  justify-content: center;
}
.navbar__frame {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  max-width: 1140px;
  min-height: 66px;
  width: calc(100% - 140px);
  gap: 40px;
}
.navbar__link {
  font-size: 13px;
  line-height: 16px;
  color:#FFF;
}

@media screen and (max-width: 768px) {
  .navbar__frame {
    width: calc(100% - 100px);
  }
}

@media screen and (max-width: 520px) {
  .navbar__frame {
    width: calc(100% - 36px);
    gap: 24px;
  } 
  .navbar__link {
    font-size: 11px;
  }  
}